<div class="panel panel-default window" style="display:none;" id="blank_window">
	<div class="panel-heading">
		<h5 class="window-actions">
			&nbsp;
			<a href="javascript:void(0);" class="close-window pull-right"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span>&nbsp;</a>
			&nbsp;
			<a href="javascript:void(0);" class="fullscreen-window pull-right"><span aria-hidden="true" class="glyphicon glyphicon-resize-full"></span>&nbsp;</a>
			&nbsp;
		</h5>
		<h4 class="window-header">
		</h4>
	</div>
	<div class="panel-body window-content">
	</div>
</div>